/* Fondo general */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Clase para el fondo con imagen */
.bg-fondo {
    background-image: url("../img/plaza.jpg"); /* ajusta la ruta si es distinta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Centrar vertical y horizontalmente el contenido del main */
.centrar {
    min-height: 100vh;              /* ocupa toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta de login */
.login-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Ajuste interno de la tarjeta */
.login-card .card-body {
    padding: 25px;
}

/* Título del login */
.login-card h3 {
    color: #444;
}

/* Si quieres estilo al enlace de registro */
.registro a {
    color: #0073ff;
}

.registro a:hover {
    text-decoration: underline;
}

.link{
    text-decoration: none;
    color: black;
    font-weight:bold;
}